



DROP TABLE IF EXISTS 'user' ;

CREATE TABLE IF NOT EXISTS 'user' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'person_id' INT NOT NULL,
  'username' VARCHAR(31) NULL,
  'password' VARCHAR(255) NULL,
  'reminder' VARCHAR(127) NULL,
  'token' VARCHAR(255) NULL,
  'blocked' TINYINT(1) NULL,
  'active' TINYINT(1) NULL,
  'created_by' INT NULL,
  'updated_by' INT NULL,
  'deleted_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
  'deleted' DATETIME NULL,
            CONSTRAINT 'fk_user_person1'
    FOREIGN KEY ('person_id')
    REFERENCES 'person' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_user2'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_user3'
    FOREIGN KEY ('deleted_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'party' ;

CREATE TABLE IF NOT EXISTS 'party' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'avatar' VARCHAR(255) NULL,
  'name' VARCHAR(127) NULL,
  'short' VARCHAR(31) NULL,
  'code' VARCHAR(15) NOT NULL,
  'description' TEXT NULL,
  'since' DATETIME NULL,
  'active' TINYINT(1) NULL,
  'created_by' INT NOT NULL,
  'updated_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
        CONSTRAINT 'fk_party_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_party_user2'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'history_status' ;

CREATE TABLE IF NOT EXISTS 'history_status' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'name' VARCHAR(31) NULL,
  'active' TINYINT(1) NULL,
  'created_by' INT NOT NULL,
  'updated_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
        CONSTRAINT 'fk_history_status_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_history_status_user2'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'party_history' ;

CREATE TABLE IF NOT EXISTS 'party_history' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'party_id' INT NOT NULL,
  'history_status_id' INT NOT NULL,
  'changes' TEXT NULL,
  'last' TINYINT(1) NULL,
  'updated_by' INT NOT NULL,
  'updated' DATETIME NOT NULL,
          CONSTRAINT 'fk_party_history_party1'
    FOREIGN KEY ('party_id')
    REFERENCES 'party' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_party_history_user1'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_party_history_history_status1'
    FOREIGN KEY ('history_status_id')
    REFERENCES 'history_status' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


