



DROP TABLE IF EXISTS 'person' ;

CREATE TABLE IF NOT EXISTS 'person' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'firstname' VARCHAR(31) NULL,
  'lastname' VARCHAR(127) NULL,
  'short' VARCHAR(31) NULL,
  'sex' TINYINT(1) NULL,
  'birthday' DATE NULL,
  'created_by' INT NULL,
  'updated_by' INT NULL,
  'deleted_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
  'deleted' DATETIME NULL,
          CONSTRAINT 'fk_person_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_person_user3'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_person_user4'
    FOREIGN KEY ('deleted_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'user' ;

CREATE TABLE IF NOT EXISTS 'user' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'person_id' INT NOT NULL,
  'username' VARCHAR(31) NULL,
  'password' VARCHAR(255) NULL,
  'token' VARCHAR(255) NULL,
  'blocked' TINYINT(1) NULL,
  'active' TINYINT(1) NULL,
  'created_by' INT NULL,
  'updated_by' INT NULL,
  'deleted_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
  'deleted' DATETIME NULL,
            CONSTRAINT 'fk_user_person1'
    FOREIGN KEY ('person_id')
    REFERENCES 'person' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_user2'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_user3'
    FOREIGN KEY ('deleted_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'country' ;

CREATE TABLE IF NOT EXISTS 'country' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'name' VARCHAR(63) NULL,
  'short' VARCHAR(31) NULL,
  'code' VARCHAR(3) NULL,
  'created_by' INT NOT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
      CONSTRAINT 'fk_country_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'state' ;

CREATE TABLE IF NOT EXISTS 'state' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'country_id' INT NOT NULL,
  'name' VARCHAR(127) NULL,
  'code' VARCHAR(3) NULL,
  'short' VARCHAR(45) NULL,
  'created_by' INT NOT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
        CONSTRAINT 'fk_state_country'
    FOREIGN KEY ('country_id')
    REFERENCES 'country' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_state_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'city' ;

CREATE TABLE IF NOT EXISTS 'city' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'state_id' INT NOT NULL,
  'name' VARCHAR(127) NULL,
  'short' VARCHAR(31) NULL,
  'code' VARCHAR(3) NULL,
  'population' INT NULL,
  'created_by' INT NOT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
        CONSTRAINT 'fk_city_state1'
    FOREIGN KEY ('state_id')
    REFERENCES 'state' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_city_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'address' ;

CREATE TABLE IF NOT EXISTS 'address' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'city_id' INT NOT NULL,
  'street' VARCHAR(127) NULL,
  'number' VARCHAR(7) NULL,
  'room' VARCHAR(15) NULL,
  'created_by' INT NOT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
        CONSTRAINT 'fk_address_city1'
    FOREIGN KEY ('city_id')
    REFERENCES 'city' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_address_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'info_type' ;

CREATE TABLE IF NOT EXISTS 'info_type' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'name' VARCHAR(31) NULL,
  'created' DATETIME NULL,
  'updated' DATETIME NULL
);


DROP TABLE IF EXISTS 'role' ;

CREATE TABLE IF NOT EXISTS 'role' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'parent_id' INT NULL,
  'name' VARCHAR(255) NULL,
  'constant' VARCHAR(127) NULL,
  'description' VARCHAR(255) NULL,
  'active' TINYINT(1) NULL,
  'created_by' INT NOT NULL,
  'updated_by' INT NULL,
  'deleted_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
  'deleted' DATETIME NULL,
            CONSTRAINT 'fk_role_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_role_user2'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_role_role1'
    FOREIGN KEY ('parent_id')
    REFERENCES 'role' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_role_user3'
    FOREIGN KEY ('deleted_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'user_role' ;

CREATE TABLE IF NOT EXISTS 'user_role' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'user_id' INT NOT NULL,
  'role_id' INT NOT NULL,
  'active' TINYINT(1) NULL,
  'created_by' INT NOT NULL,
  'updated_by' INT NULL,
  'deleted_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
  'deleted' DATETIME NULL,
              CONSTRAINT 'fk_user_role_user1'
    FOREIGN KEY ('user_id')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_role_role1'
    FOREIGN KEY ('role_id')
    REFERENCES 'role' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_role_user2'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_role_user3'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_user_role_user4'
    FOREIGN KEY ('deleted_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'permission' ;

CREATE TABLE IF NOT EXISTS 'permission' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'parent_id' INT NULL,
  'name' VARCHAR(255) NULL,
  'constant' VARCHAR(127) NULL,
  'description' VARCHAR(255) NULL,
  'active' TINYINT(1) NULL,
  'created_by' INT NOT NULL,
  'updated_by' INT NULL,
  'deleted_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
  'deleted' DATETIME NULL,
            CONSTRAINT 'fk_permission_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_permission_user2'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_permission_permission1'
    FOREIGN KEY ('parent_id')
    REFERENCES 'permission' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_permission_user3'
    FOREIGN KEY ('deleted_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


DROP TABLE IF EXISTS 'role_permission' ;

CREATE TABLE IF NOT EXISTS 'role_permission' (
  'id' INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  'permission_id' INT NOT NULL,
  'role_id' INT NOT NULL,
  'active' TINYINT(1) NULL,
  'created_by' INT NOT NULL,
  'updated_by' INT NULL,
  'deleted_by' INT NULL,
  'created' DATETIME NOT NULL,
  'updated' DATETIME NULL,
  'deleted' VARCHAR(45) NULL,
              CONSTRAINT 'fk_role_permission_role1'
    FOREIGN KEY ('role_id')
    REFERENCES 'role' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_role_permission_permission1'
    FOREIGN KEY ('permission_id')
    REFERENCES 'permission' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_role_permission_user1'
    FOREIGN KEY ('created_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_role_permission_user2'
    FOREIGN KEY ('updated_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT 'fk_role_permission_user3'
    FOREIGN KEY ('deleted_by')
    REFERENCES 'user' ('id')
    ON DELETE NO ACTION
    ON UPDATE NO ACTION
);


